In [11]:
# Import necessary libraries
import pandas as pd
import numpy as np

df = pd.read_csv('Real estate.csv')
df.head(
    
)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error


#Label Encoding
from sklearn.preprocessing import LabelEncoder

l = LabelEncoder()
for col in df.columns:
    if df[col].dtype == object:
        df[col] = l.fit_transform(df[col])

    df

In [16]:

# Split the data into training and testing sets
X = df.drop('Y house price of unit area', axis=1)
y = df['Y house price of unit area']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:

# Create and train the Random Forest model
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

# Make predictions with Random Forest
rf_predictions = rf_model.predict(X_test)

# Calculate and print the metrics for Random Forest
rf_mse = mean_squared_error(y_test, rf_predictions)
rf_mae = mean_absolute_error(y_test, rf_predictions)
rf_rmse = np.sqrt(rf_mse)

print(f'Random Forest MSE: {rf_mse}')
print(f'Random Forest MAE: {rf_mae}')
print(f'Random Forest RMSE: {rf_rmse}')

# Create and train the Decision Tree model
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train, y_train)

# Make predictions with Decision Tree
dt_predictions = dt_model.predict(X_test)

# Calculate and print the metrics for Decision Tree
dt_mse = mean_squared_error(y_test, dt_predictions)
dt_mae = mean_absolute_error(y_test, dt_predictions)
dt_rmse = np.sqrt(dt_mse)

print(f'Decision Tree MSE: {dt_mse}')
print(f'Decision Tree MAE: {dt_mae}')
print(f'Decision Tree RMSE: {dt_rmse}')

Random Forest MSE: 32.5086074578313
Random Forest MAE: 3.840951807228914
Random Forest RMSE: 5.701631999509553
Decision Tree MSE: 63.23301204819277
Decision Tree MAE: 5.790361445783131
Decision Tree RMSE: 7.951918765190749